In [1]:
import pandas as pd
import numpy as np
import itertools

from IPython.display import HTML, Math, Latex, Markdown, display

import warnings
warnings.filterwarnings("ignore")

In [2]:
# weights
w = np.array([0.4, 0.3, 0.2, 0.1])
# Alternatives x Criterias
data = np.array([
    [2, 8, 1, 3],
    [4, 7, 5, 2],
    [5, 5, 0, 3],
    [4, 6, 8, 1],
    [5, 9, 4, 3], 
])

# порог індексу згоди та незгоди
C_1 = 0.75
d_1 = 0.3

In [3]:
labels  = [f"$a_{x+1}$" for x in range(data.shape[0])]
columns = [f"$C_{x+1}$" for x in range(w.shape[0])]
el = pd.DataFrame(data, columns=columns, index=labels)
el

       $C_1$  $C_2$  $C_3$  $C_4$
$a_1$      2      8      1      3
$a_2$      4      7      5      2
$a_3$      5      5      0      3
$a_4$      4      6      8      1
$a_5$      5      9      4      3

In [4]:
wC = pd.DataFrame(w)
wC = wC.T
wC.columns = columns
wC

   $C_1$  $C_2$  $C_3$  $C_4$
0    0.4    0.3    0.2    0.1

## Знайти індекси згоди та незгоди

In [5]:
array = np.zeros((len(labels), len(labels)))
array.fill(np.nan)

####  Згорока Індексів Згоди

$c_{ij} = \sum{w[a_i>a_j]} $

In [6]:
Zgoda = pd.DataFrame(array.copy(), index=labels, columns=labels)

for c in itertools.product(labels, labels):
    if c[0] == c[1]:
        continue
    s = (el.loc[c[0], :] - el.loc[c[1], :]) 
    selected_indeces = s.index[s.loc[:] >= 0] 
    Zgoda.loc[c[0], c[1]] = wC[selected_indeces].sum(axis=1)[0]

Zgoda

       $a_1$  $a_2$  $a_3$  $a_4$  $a_5$
$a_1$    NaN    0.4    0.6    0.4    0.1
$a_2$    0.6    NaN    0.5    0.8    0.2
$a_3$    0.5    0.5    NaN    0.5    0.5
$a_4$    0.6    0.6    0.5    NaN    0.2
$a_5$    1.0    0.8    1.0    0.8    NaN

####  Згорока Індексів Незгоди

In [7]:
NeZgoda = pd.DataFrame(array.copy(), index=labels, columns=labels)

for c in itertools.product(labels, labels):
    if c[0] == c[1]:
        continue
    s = (el.loc[c[1], :] - el.loc[c[0], :]) 
    NeZgoda.loc[c[0], c[1]] = s.max() / 10

NeZgoda

       $a_1$  $a_2$  $a_3$  $a_4$  $a_5$
$a_1$    NaN    0.4    0.3    0.7    0.3
$a_2$    0.1    NaN    0.1    0.3    0.2
$a_3$    0.3    0.5    NaN    0.8    0.4
$a_4$    0.2    0.1    0.2    NaN    0.3
$a_5$    0.0    0.1    0.0    0.4    NaN

## Знайти перевагу при порогах C_1 та d_1

In [8]:
ZgodaI = Zgoda[Zgoda >= C_1]

display(Markdown('### Перевага при порозі згоди'))
display(HTML(ZgodaI.to_html()))



NeZgodaI = NeZgoda[NeZgoda <= d_1]
NeZgodaI

display(Markdown('### Перевага при порозі незгоди'))
display(HTML(NeZgodaI.to_html()))


# Первага при індексах згоди і незгоди
Perevaga = pd.DataFrame(array.copy(), index=labels, columns=labels)

nezgoda = NeZgodaI.values
nezgoda_values = np.argwhere(nezgoda >= 0).tolist()

zgoda = ZgodaI.values
zgoda_values = np.argwhere(zgoda >= 0).tolist()

for rc in [x for x in zgoda_values if x in nezgoda_values]:
    Perevaga.iloc[rc[0], rc[1]] = "+"
    
display(HTML( Perevaga.to_html().replace('NaN', '') ))

### Перевага при порозі згоди

### Перевага при порозі незгоди

## Знайти пороги при яких існує найкраща альтернатива

In [9]:
С_2 = C_1 + 0.0
d_2 = d_1 + 0.1
ZgodaI = Zgoda[Zgoda >= С_2]

display(Markdown('### Перевага при порозі згоди $C_2$ = {:1.2f}'.format(С_2)))
display(HTML(ZgodaI.to_html()))


NeZgodaI = NeZgoda[NeZgoda <= d_2]
NeZgodaI

display(Markdown('### Перевага при порозі незгоди $d_2$ = {:1.2f})'.format(d_2)))
display(HTML(NeZgodaI.to_html()))


# Первага при індексах згоди і незгоди
Perevaga = pd.DataFrame(array.copy(), index=labels, columns=labels)

nezgoda = NeZgodaI.values
nezgoda_values = np.argwhere(nezgoda >= 0).tolist()

zgoda = ZgodaI.values
zgoda_values = np.argwhere(zgoda >= 0).tolist()

for rc in [x for x in zgoda_values if x in nezgoda_values]:
    Perevaga.iloc[rc[0], rc[1]] = "+"
    
display(HTML( Perevaga.to_html().replace('NaN', '') ))

### Перевага при порозі згоди $C_2$ = 0.75

### Перевага при порозі незгоди $d_2$ = 0.40)